<template>
  <div class="p-pt-6 p-d-flex p-jc-center">
    <div class="container">
      <h1>登入</h1>
      <form class="p-fluid p-d-flex p-flex-column">
        <InputText label="帳號" name="signin_id" />
        <Password label="密碼" name="password" />
        <Button class="p-mt-3" label="Login" type="submit" />
      </form>
    </div>
  </div>
</template>