<template>
    <div>
        <router-view></router-view>
        <Toast />
    </div>
</template>

<script>
// import ToastService from "./service/ToastService";

// export default {
//   mounted() {
//     // Register services
//     ToastService.init(this.$toast);
//   },
// };
</script>
